#root {
	width: 600px;
	height: 400px;
	margin: 0 auto;
	text-align: center;
}

.container {
	background-color: var(--bg-primary);
	color: var(--text-primary);
	height: 100%;
	width: 100%;
	padding: 2em;
}
